{
    "overrides": [
        {
            "files": "*.yaml",
            "options": {
                "tabWidth": 2
            }
        }
    ],
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all"
}
