<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Foosball Log</title>

        <meta name="version" content="{{version}}">
        <meta name="viewport" content="initial-scale=1, shrink-to-fit=no, viewport-fit=cover, width=device-width, height=device-height">

        <style>
            * {
                box-sizing: border-box;
            }
        </style>
    </head>
    <body>
    </body>
</html>